

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif', serif;
}

.background_frame{
    width: 700px;
    height: 700px;
    background-color: rgb(246, 239, 239);
    margin: 40px auto;
    border-radius: 4px;
    position: relative;
}



.circle_pink{
    background-color: #f964b3;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 40px;
    
}

.circle_orange{
    background-color: #f87e65;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: absolute;
    bottom: 90px;
    right:30px;
}

.card{
    text-align: center;
    width: 320px;
    height: 360px;
    background-color: white;
    margin: 20px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: absolute;
    transform: translate(50% , 50% );
}

h4{
    font-size: 18px;
}

.card_info_1{
    margin: 20px 0 0 0;
}

h6{
    font-size: 12px;
}

.card_info_time{
    font-size: 10px;
    font-weight: 300;
}

.card_line{
    display: inline-block;
    width: 250px;
    border: 0.5px solid rgb(232, 230, 230);
}


.btn{
    
    width: 240px;
    height: 40px;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
    background-color: #e86359;
    cursor: pointer;
    border: none;
    margin: 20px 0 0 0;
    
}
