* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
}

.container {
  margin: 0 4rem;
  padding: 0 2rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #F0F1F3;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: _;
  flex-direction: _;
  gap: _;
  padding: 0.8rem 0;
}
.header_content_logo {
  padding: 0.8rem 0;
  font-size: 1.2rem;
  font-weight: 800;
  color: #2A5055;
}
.header_nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: _;
  flex-direction: _;
  gap: 2.5rem;
}
.header_nav_menu_item {
  font-size: 1rem;
}
.header_btn_item {
  padding: 0.5rem 1rem;
  border: 1px solid #2A5055;
  font-size: 0.9rem;
  border-radius: 0.5rem;
}
.header_btn :nth-child(1) {
  background-color: #2A5055;
  color: white;
  margin-right: 1.6rem;
}
.header_btn :nth-child(2) {
  color: #2A5055;
}
.header_menu_icon {
  display: none;
}

@media screen and (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
  .container {
    margin: 0 1rem;
    padding: 0 0.2rem;
  }
  .header_menu_icon {
    display: block;
    font-size: 1.2rem;
  }
  .header_nav {
    display: none;
  }
  .header_btn {
    display: none;
  }
}
.footer {
  background-color: #F0F1F3;
  border-bottom: #E0E2E7;
}
.footer_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: _;
  gap: _;
}
.footer_menu_title {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.footer_menu_item {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.footer_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.8rem;
}
.footer_left_input {
  padding: 0.8rem 1.2rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid #A3A9B6;
  background-color: transparent;
  margin-right: 0.7rem;
}
.footer_left_btn {
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #FA8F45;
  color: white;
  font-size: 0.8rem;
}
.footer_rectangle_top {
  display: block;
  height: 1px;
  margin-bottom: 2rem;
  background-color: #E0E2E7;
}
.footer_rectangle_bottom {
  display: block;
  height: 1px;
  margin-top: 2rem;
  background-color: #E0E2E7;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: _;
  flex-direction: _;
  gap: _;
  padding: 1.2rem 0;
}
.footer_bottom_left {
  font-size: 0.8rem;
}
.footer_bottom_right_item {
  font-size: 1.3rem;
  color: #858D9D;
  margin-right: 1.5rem;
}
.footer_bottom_right_item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 576px) {
  html, body {
    font-size: 14px;
  }
  .container {
    margin: 0 1rem;
    padding: 0 0.2rem;
  }
  .footer_left {
    width: 100%;
    display: flex;
    flex-direction: column !important;
  }
  .footer_left_input {
    width: 320px;
    background-color: white;
    border-radius: 4px;
  }
  .footer_left_btn {
    width: 320px;
    border-radius: 4px;
  }
  .footer_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.8rem;
  }
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: _;
  gap: _;
}
.main .left {
  width: 672px;
  height: 1094px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: _;
  gap: _;
}
.main .left .main_left_title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.main .left .main_left_input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
}
.main .left .main_left_input_item {
  width: 370px;
  padding: 0.8rem 1.2rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid #A3A9B6;
  font-size: 1.1rem;
}
.main .left .main_left_input_with_caption {
  margin-bottom: 3rem;
  width: 370px;
  height: 40px;
  position: relative;
}
.main .left .main_left_input_with_caption_icon {
  position: absolute;
  right: 1.2rem;
  top: 1rem;
}
.main .left .main_left_input_with_caption_item {
  font-size: 14px;
  font-weight: 400;
  color: #A3A9B6;
  margin-top: 2px;
}
.main .left .main_left_btn {
  width: 370px;
  padding: 12px 24px;
  background-color: #2A5055;
  color: white;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: none;
}
.main .left .main_left_or {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.main .left .main_left_social_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
}
.main .left .main_left_social_btn_ggl {
  width: 370px;
  padding: 12px 20px;
  background-color: transparent;
  color: #858D9D;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: 1px solid #858D9D;
}
.main .left .main_left_social_btn_ggl_icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}
.main .left .main_left_social_btn_fcbk {
  width: 370px;
  padding: 12px 20px;
  background-color: #0C63D4;
  color: white;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: none;
}
.main .left .main_left_social_btn_fcbk_icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}
.main .left .main_left_bottom_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
}
.main .left .main_left_bottom_content_account {
  font-size: 14px;
  font-weight: 400;
}
.main .left .main_left_bottom_content_login {
  font-size: 14px;
  font-weight: 800;
}
.main_right {
  width: 708px;
  height: 1094px;
}
.main_right img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 576px) {
  html, body {
    font-size: 14px;
  }
  .container {
    margin: 0 1rem;
    padding: 0 0.2rem;
  }
  .main_right {
    display: none;
  }
  .left {
    display: none;
  }
}
.announce_title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 52px;
  margin-bottom: 52px;
}

.announce_btns_with_dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: _;
  margin-bottom: 1.7rem;
}
.announce_btns_with_dropdown .announce_btns_group {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.7rem;
}
.announce_btns_with_dropdown .announce_btns_group .search_input {
  position: relative;
}
.announce_btns_with_dropdown .announce_btns_group .search_input_item {
  padding: 10px 1.5rem;
  background-color: #F0F1F3;
  border: 1px solid #A3A9B6;
  border-radius: 0.5rem;
}
.announce_btns_with_dropdown .announce_btns_group .search_input_icon {
  position: absolute;
  left: 0.7rem;
  top: 0.6rem;
  margin-right: 0.5rem;
  color: #858D9D;
  font-size: 1rem;
}
.announce_btns_with_dropdown .announce_btns_group_item {
  font-size: 1rem;
  padding: 10px 24px;
  border-radius: 0.5rem;
  border: none;
  color: #667085;
}
.announce_btns_with_dropdown .announce_btns_group .color_btn {
  color: white;
  background-color: #2A5055;
}
.announce_btns_with_dropdown .category_btn {
  display: none;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
}
.cards_item {
  width: 392px;
  position: relative;
}
.cards_item_icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 20px;
  background-color: #F0F1F3;
}
.cards_item_image_box {
  max-width: 392px;
  max-height: 312px;
  border-radius: 0.5rem;
  border: 1px solid #C2C6CE;
}
.cards_item_image_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.cards_item_content_box {
  width: 392px;
}
.cards_item_content_box_title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0.5rem;
}
.cards_item_content_box_desc {
  font-size: 20px;
  font-weight: 300;
  text-overflow: ellipsis;
}
.cards_item_content_box .progress_grey {
  background-color: #F0F1F3;
  border-radius: 2px;
}
.cards_item_content_box .progress_orange {
  background-color: #FBAB73;
  border-radius: 2px;
}
.cards_item_content_box_time {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: 200;
}
.cards_item_content_box_price {
  font-size: 20px;
  font-weight: 700;
}
.cards_item_content_box_total-price {
  font-size: 18px;
  font-weight: 300;
}
.cards_btn {
  width: 100%;
  margin-top: 72px;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
}
.cards_btn_item {
  padding: 0.7rem 1rem;
  border: 1px solid #2A5055;
  font-size: 0.8rem;
  color: #2A5055;
  background-color: transparent;
  border-radius: 0.5rem;
}

@media screen and (max-width: 576px) {
  html, body {
    font-size: 12px;
  }
  .container {
    margin: 0 1rem;
    padding: 0 0.2rem;
  }
  .announce_title {
    display: none;
  }
  .announce_btns_group {
    display: none !important;
  }
  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
  }
  .category_btn {
    display: block !important;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cards_item {
    width: 156px;
  }
  .cards_item_icon {
    visibility: hidden;
  }
  .cards_item_content_box {
    width: 156px;
  }
  .cards_item_content_box_title {
    text-overflow: ellipsis;
    font-size: 12px;
  }
  .cards_item_content_box_desc {
    display: none;
  }
  .cards_item_content_box_time {
    display: none;
  }
  .cards_item_content_box_price {
    font-size: 0.7rem;
  }
  .cards_item_content_box_total-price {
    font-size: 0.7rem;
  }
  .cards .progress_grey {
    background-color: #F0F1F3;
    border-radius: 2px;
  }
  .cards .progress_orange {
    background-color: #FBAB73;
    border-radius: 2px;
  }
}
.title_box {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.title_box_item1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.title_box_item2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.page_top {
  display: flex;
  justify-content: space-between;
}
.page_top .left_side_img_box {
  max-width: 704px;
  max-height: 436px;
  margin-bottom: 1.2rem;
}
.page_top .left_side_img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page_top .left_side_content_box {
  width: 704px;
}
.page_top .left_side_content_box_descp {
  font-size: 1.1rem;
}
.page_top .left_side_content_box_more {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: underline;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.page_top .left_side_content_box_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: _;
}
.page_top .left_side_content_box_bottom_category {
  font-size: 0.8rem;
}
.page_top .left_side_content_box_bottom_date {
  font-size: 0.8rem;
}
.page_top .right_side {
  width: 500px;
  display: grid;
}
.page_top .right_side_price {
  font-size: 1.6rem;
  font-weight: 700;
}
.page_top .right_side_total_price {
  font-size: 1.6rem;
}
.page_top .right_side .progress_grey {
  background-color: #F0F1F3;
  border-radius: 2px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.page_top .right_side .progress_orange {
  background-color: #FBAB73;
  border-radius: 2px;
}
.page_top .right_side_descp_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: _;
}
.page_top .right_side_descp_box_date {
  font-size: 0.8rem;
}
.page_top .right_side_descp_box_people {
  font-size: 0.8rem;
}
.page_top .right_side_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: _;
  margin-top: 2rem;
}
.page_top .right_side_center_img_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: _;
  position: relative;
}
.page_top .right_side_center .item2 {
  position: absolute;
  left: 20px;
}
.page_top .right_side_center .item3 {
  position: absolute;
  left: 40px;
  z-index: 1;
}
.page_top .right_side_center .item4 {
  position: absolute;
  left: 60px;
  z-index: 1;
}
.page_top .right_side_center .item5 {
  position: absolute;
  left: 80px;
  z-index: 1;
}
.page_top .right_side_center .item6 {
  position: absolute;
  left: 100px;
  z-index: 1;
}
.page_top .right_side_center_img_item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
}
.page_top .right_side_center_img_item img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page_top .right_side_center_btn {
  padding: 8px 16px;
  border: 1px solid #2A5055;
  background-color: transparent;
  color: #2A5055;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.page_top .right_side_btn {
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  padding: 12px 20px;
  background-color: #2A5055;
  color: white;
}
.page_top .right_side_btn_descp {
  margin-bottom: 2px;
  font-size: 0.8rem;
  display: block;
}

.page_bottom {
  margin-top: 60px;
  margin-bottom: 40px;
}
.page_bottom_top-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: _;
  margin-bottom: 1.5rem;
}
.page_bottom_top-side-title {
  font-size: 2rem;
  font-weight: 700;
}
.page_bottom_top-side-btn {
  padding: 12px 20px;
  border: 1px solid #2A5055;
  background-color: transparent;
  color: #2A5055;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.page_bottom_announce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: _;
}
.page_bottom_announce_item_img {
  width: 288px;
  height: 268px;
  border-radius: 0.5rem;
}
.page_bottom_announce_item_img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.page_bottom_announce_item_content {
  width: 288px;
}
.page_bottom_announce_item_content_title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.page_bottom_announce_item_content .progress_grey {
  background-color: #F0F1F3;
  border-radius: 2px;
  margin-bottom: 0.3rem;
}
.page_bottom_announce_item_content .progress_orange {
  background-color: #FBAB73;
  border-radius: 2px;
}
.page_bottom_announce_item_content_price {
  font-size: 1rem;
  font-weight: 600;
}
.page_bottom_announce_item_content_total_price {
  font-size: 1rem;
}

@media screen and (max-width: 576px) {
  html, body {
    font-size: 14px;
  }
  .container {
    margin: 0 1rem;
    padding: 0 0.2rem;
  }
  .title_box_item1 {
    font-size: 14px;
  }
  .title_box_item2 {
    font-size: 14px;
  }
  .page_top {
    display: flex;
    flex-direction: column;
  }
  .page_top .left_side {
    width: 324px;
  }
  .page_top .left_side_content_box {
    width: 324px;
  }
  .page_top .left_side_content_box_descp {
    font-size: 10px;
  }
  .page_top .left_side_content_box_more {
    font-size: 10px;
  }
  .page_top .left_side_content_box_bottom {
    margin-bottom: 1.5rem;
  }
  .page_top .left_side_content_box_bottom_category {
    font-size: 10px;
  }
  .page_top .left_side_content_box_bottom_date {
    font-size: 10px;
  }
  .page_top .right_side {
    width: 324px;
  }
  .page_top .right_side_price {
    font-size: 12px;
  }
  .page_top .right_side_total_price {
    font-size: 12px;
  }
  .page_top .right_side_center_img_item {
    width: 40px;
    height: 40px;
  }
  .page_top .right_side_center_other {
    font-size: 12px;
  }
  .page_top .right_side_center_btn {
    padding: 6px 12px;
    font-size: 14px;
  }
  .page_bottom_top-side-title {
    font-size: 14px;
  }
  .page_bottom_top-side-btn {
    padding: 6px 12px;
    font-size: 14px;
  }
  .page_bottom_announce_item_img {
    width: 156px;
    height: 140px;
  }
  .page_bottom_announce_item_content {
    width: 156px;
  }
  .page_bottom_announce_item_content_title {
    font-size: 12px;
  }
  .page_bottom_announce_item_content_price {
    font-size: 10px;
  }
  .page_bottom_announce_item_content_total_price {
    font-size: 10px;
  }
}/*# sourceMappingURL=main.css.map */