@import './mixins';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 16px;
}
.container{
margin: 0 4rem;
padding: 0 2rem;
}
a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
}

.header{
    background-color: #F0F1F3;
    
    &_content{
        @include d-flex(flex, space-between, center, _ , _ , _);
        padding: 0.8rem 0;
    
        &_logo{
            padding: 0.8rem 0;
            font-size: 1.2rem;
            font-weight: 800;
            color: #2A5055;
        }
    }
    &_nav_menu{
        @include d-flex(flex, space-between, center, _ , _ , 2.5rem);

        &_item{
            font-size: 1rem;
        }
    }

    &_btn{

        &_item{
            padding: 0.5rem 1rem;
            border: 1px solid #2A5055;
            font-size: 0.9rem;
            border-radius: 0.5rem;
        }

        :nth-child(1){
            background-color: #2A5055;
            color: white;
            margin-right: 1.6rem;
        }
        :nth-child(2){
            color: #2A5055;
        }
        
    }

    &_menu_icon{
        display: none;
    }
   
}

//header desktop finished

//header responsive start

@media screen and (max-width: 768px) {
    html, body{
        font-size: 14px;
    }

    .container{
        margin: 0 1rem;
        padding: 0 .2rem;
        }
.header{
    &_menu_icon{
        display: block;
        font-size: 1.2rem;
    }
    
    &_nav{
        display: none;
    }
    &_btn{
        display: none;
    }
}
   
}

// header responsive finished
//footer start
.footer{
    background-color: #F0F1F3;
    // margin-top: 72px;
    // padding: 4rem 0;
    border-bottom: #E0E2E7;
    &_menu{
        @include d-flex(flex, space-between, center, wrap , _ , _);

        &_title{
            display: block;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0.8rem;
        }
        &_item{
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }
    &_left{
        @include d-flex(flex, center, center, wrap , row , 0.8rem);
        &_input{
            padding: 0.8rem 1.2rem;
            font-size: 0.8rem;
            border-radius: 0.5rem;
            border: 1px solid #A3A9B6;
            background-color: transparent;
            margin-right: 0.7rem;

        }
        &_btn{
            padding: 0.8rem 1.2rem;
            border-radius: 0.5rem;
            border: none;
            background-color: #FA8F45;
            color: white;
            font-size: 0.8rem;
        }
    }
    &_rectangle_top{
        display: block;
        height: 1px;
        margin-bottom: 2rem;
        background-color: #E0E2E7
    }
    &_rectangle_bottom{
        display: block;
        height: 1px;
        margin-top: 2rem;
        background-color: #E0E2E7
    }

&_bottom{
    @include d-flex(flex, space-between, center, _ , _ , _);
    padding: 1.2rem 0;

    &_left{
        font-size: 0.8rem;
    }
    &_right_item{
        font-size: 1.3rem;
        color: #858D9D;
        margin-right: 1.5rem;
        &:last-child{
            margin-right: 0;
        }
    }
}

}

//footer desktop finished

//footer responsive start


@media screen and (max-width: 576px) {
    html, body{
        font-size: 14px;
    }

    .container{
        margin: 0 1rem;
        padding: 0 .2rem;
        }

    .footer{
       &_left{
        width: 100%;
        display: flex;
        flex-direction: column !important;
        &_input{
            width: 320px;
            background-color: white;
            border-radius: 4px;
        }
        &_btn{
            width: 320px;
            border-radius: 4px;
        }
       }

       &_bottom{
        @include d-flex(flex, center, center, wrap , column , 0.8rem);

       }
}
}

//footer responsive finish

//sign up main section started

.main{
    @include d-flex(flex, space-between, center, wrap , _ , _);
.left{
    width: 672px;
    height: 1094px;
    @include d-flex(flex, center, center, wrap , _ , _);
   
    .main_left{       
        &_title{
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 1.6rem;
        }

        &_input{
         @include d-flex(flex, center, center, wrap , column , 24px);
           &_item{
            width: 370px;
            padding: 0.8rem 1.2rem;
            font-size: 0.8rem;
            border-radius: 0.5rem;
            border: 1px solid #A3A9B6;
            font-size: 1.1rem;
           }
           &_with_caption{
            margin-bottom: 3rem;
            width: 370px;
            height: 40px;
            position: relative;
            &_icon{
                position: absolute;
                right: 1.2rem;
                top: 1rem;
            }
            &_item{
                font-size: 14px;
                font-weight: 400;
                color: #A3A9B6;
                margin-top: 2px;
            }
           }
           
        }
        &_btn{
            width: 370px;
            padding: 12px 24px;
            background-color: #2A5055;
            color: white;
            font-size: 1.1rem;
            border-radius: 0.5rem;
            border: none;
        }
        &_or{
            text-align: center;
            font-size: 1.1rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
        &_social_btn{
            @include d-flex(flex, center, center, wrap , column , 24px);

        &_ggl{
            width: 370px;
            padding: 12px 20px;
            background-color: transparent;
            color: #858D9D;
            font-size: 1.1rem;
            border-radius: 0.5rem;
            border: 1px solid #858D9D;
            &_icon{
                font-size: 1rem;
                margin-right: 0.5rem;
            }
        }
        &_fcbk{
            width: 370px;
            padding: 12px 20px;
            background-color: #0C63D4;
            color: white;
            font-size: 1.1rem;
            border-radius: 0.5rem;
            border: none;
            &_icon{
                font-size: 1rem;
                margin-right: 0.5rem;
            }
        }
    }
    &_bottom_content{
        @include d-flex(flex, center, center, wrap , row , 0.5rem);
        &_account{
            font-size: 14px;
            font-weight: 400;
        }
        &_login{
            font-size: 14px;
            font-weight: 800;
        }
    }
}
        
    }
    &_right{
        width: 708px;
        height: 1094px;

        img{
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
        }
    }
}
//sign up main section desktop finish

//sign up main section responsive start
@media screen and (max-width: 576px) {
    html, body{
        font-size: 14px;
    }

    .container{
        margin: 0 1rem;
        padding: 0 .2rem;
        }
        .main_right{
            display: none;
        }
        .left{
            display: none;
        }
    }

//sign up main section responsive finished

//Announcements desktop start

.announce_title{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 52px;
    margin-bottom: 52px;
}
.announce_btns_with_dropdown{
    @include d-flex(flex, space-between, center, wrap , row , _);
    margin-bottom: 1.7rem;
.announce_btns_group{
    @include d-flex(flex, start, center, wrap , row , 0.7rem);

.search_input{
  position: relative;
  &_item{
    padding: 10px 1.5rem;
    background-color: #F0F1F3;
    border: 1px solid #A3A9B6;
    border-radius: 0.5rem;
  }
  &_icon{
    position: absolute;
    left: 0.7rem;
    top: 0.6rem;
    margin-right: 0.5rem;
    color: #858D9D;
    font-size: 1rem;
}
}
&_item{
    font-size: 1rem;
    padding: 10px 24px;
    border-radius: 0.5rem;
    border: none;
    color: #667085;
}
.color_btn{
    color: white;
    background-color: #2A5055;
}
}
.category_btn{
    display: none;
}
}

.cards{
    @include d-flex(flex, space-between, center, wrap , row , 1.5rem);

    &_item{
        width: 392px;
        position: relative;
        &_icon{
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: 4px 4px;
            border-radius: 4px;
            font-size: 20px;
            background-color: #F0F1F3;
        }
    &_image_box{
        max-width: 392px;
        max-height: 312px;
        border-radius: 0.5rem;
        border: 1px solid #C2C6CE;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
        }
    }
    &_content_box{
        width: 392px;
        &_title{
            font-size: 20px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 0.5rem;
        }
        &_desc{
            font-size: 20px;
            font-weight: 300;
            text-overflow: ellipsis;
        }
        .progress_grey{
            background-color: #F0F1F3;
            border-radius: 2px;

        }
        .progress_orange{
            background-color: #FBAB73;
            border-radius: 2px;
        }
        &_time{
            display: block;
            margin-top: 12px;
            margin-bottom: 4px;
            font-size: 1rem;
            font-weight: 200;
        }
        &_price{
            font-size: 20px;
            font-weight: 700;
        }
        &_total-price{
            font-size: 18px;
            font-weight: 300;
        }
        
    }
}
&_btn{
    width: 100%;
    margin-top: 72px;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    &_item{
        padding: 0.7rem 1rem;
        border: 1px solid #2A5055;
        font-size: 0.8rem;
        color: #2A5055;
        background-color: transparent;
        border-radius: 0.5rem;
    }
}

}

//Announcements desktop finish

//Announcements responsive start

@media screen and (max-width: 576px) {
    html, body{
        font-size: 12px;
    }

    .container{
        margin: 0 1rem;
        padding: 0 .2rem;
        }
    .announce_title{
        display: none;
        }
    .announce_btns_group{
            display: none !important;
        }
        .btns{
         display: flex;
         justify-content: space-between;
            margin-top: 2.2rem;
            margin-bottom: 2.2rem;
        }
    .category_btn{
        display: block !important;
        // margin-left: 20px !important;
     }
     .cards{
       display: grid;
       grid-template-columns: 1fr 1fr;
       &_item{
        width: 156px;
        &_icon{
           visibility: hidden;       
           }
        &_content_box{
        width: 156px;
            &_title{
                text-overflow: ellipsis;
                font-size: 12px;
            }
            &_desc{
                display: none;
            }
            &_time{
                display: none;
            }
            &_price{
                font-size: 0.7rem;
            }
            &_total-price{
                font-size: 0.7rem;
            }
        }
       }
       .progress_grey{
        background-color: #F0F1F3;
        border-radius: 2px;

    }
    .progress_orange{
        background-color: #FBAB73;
        border-radius: 2px;
    }
     }
// .cards_responsive{
//  display: block;
// }
}
//Announcements responsive finish


//Announce desktop start

.title_box{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    &_item1{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    &_item2{
        font-size: 1.5rem;
        font-weight: 500;
    }
}
.page_top{
    display: flex;
    justify-content: space-between;
.left_side{
    &_img_box{
        max-width: 704px;
        max-height: 436px;
        margin-bottom: 1.2rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_content_box{
        width: 704px;
        &_descp{
            font-size: 1.1rem;
        }
        &_more{
            font-size: 1.1rem;
            font-weight: 600;
            text-decoration: underline;
            display: block;
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
        }
       
        &_bottom{
            @include d-flex(flex, space-between, center, wrap , row , _);
            &_category{
                font-size: 0.8rem;
            }
            &_date{
                font-size: 0.8rem;
            }
        }
    }
}
.right_side{
    width: 500px;
display: grid;
// justify-content: space-between;
    &_price{
        font-size: 1.6rem;
        font-weight: 700;
    }
    &_total_price{
        font-size: 1.6rem;
    }
    .progress_grey{
        background-color: #F0F1F3;
        border-radius: 2px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

    }
    .progress_orange{
        background-color: #FBAB73;
        border-radius: 2px;
    }
    &_descp_box{
        @include d-flex(flex, space-between, center, wrap , row , _);
        &_date{
            font-size: 0.8rem;
        }
        &_people{
            font-size: 0.8rem;
        }
    }

    &_center{
             @include d-flex(flex, space-between, center, wrap , row , _);
        margin-top: 2rem;
        &_img_box{
            @include d-flex(flex, flex-start, center, wrap , row , _);

          position: relative;
        }
        .item2{
            position: absolute;
            left: 20px;
        }
        .item3{
            position: absolute;
            left: 40px;
            z-index: 1;
        }
        .item4{
            position: absolute;
            left: 60px;
            z-index: 1;
        }
        .item5{
            position: absolute;
            left: 80px;
            z-index: 1;
        }
        .item6{
            position: absolute;
            left: 100px;
            z-index: 1;
        }
        
        &_img_item{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid white;
            img{
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &_btn{
            padding: 8px 16px;
            border: 1px solid #2A5055;
            background-color: transparent;
            color: #2A5055;
            font-size: 1rem;
            border-radius: 0.5rem;
        }
    }
   
    &_btn{
        font-size: 1rem;
        border: none;
        border-radius: 0.5rem;
        width: 100%;
        padding: 12px 20px;
        background-color: #2A5055;
        color: white;
    }
    &_btn_descp{
        margin-bottom: 2px;
        font-size: 0.8rem;
        display: block;
    }

}
}
.page_bottom{
    margin-top: 60px;
    margin-bottom: 40px;
    &_top-side{
        @include d-flex(flex, space-between, center, wrap , row , _);
        margin-bottom: 1.5rem;
        &-title{
            font-size: 2rem;
            font-weight: 700;
        }
        &-btn{
            padding: 12px 20px;
            border: 1px solid #2A5055;
            background-color: transparent;
            color: #2A5055;
            font-size: 1rem;
            border-radius: 0.5rem;
        }
    }
    &_announce{
        @include d-flex(flex, space-between, center, wrap , row , _);

        &_item{
        &_img{
            width: 288px;
            height: 268px;
            border-radius: 0.5rem;
            img{
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
                object-fit: cover;
            }
        }
        &_content{
            width: 288px;
            &_title{
                font-size: 1rem;
                font-weight: 700;
                margin-bottom: 0.3rem;
            }
            .progress_grey{
                background-color: #F0F1F3;
                border-radius: 2px;
                margin-bottom: 0.3rem;
            }
            .progress_orange{
                background-color: #FBAB73;
                border-radius: 2px;
            }
            &_price{
                font-size: 1rem;
                font-weight: 600;

            }
            &_total_price{
                font-size: 1rem;
            }
        }
        
    }

    }
}
//Announce desktop finish

//Announce responsive start


@media screen and (max-width: 576px) {
    html, body{
        font-size: 14px;
    }

    .container{
        margin: 0 1rem;
        padding: 0 .2rem;
        }
    .title_box_item1{
font-size: 14px;
        }
    .title_box_item2{
            font-size: 14px;
        }
.page_top{
display: flex;
flex-direction: column;
.left_side{
    width: 324px;
    &_content_box{
        width: 324px;
        &_descp{
            font-size: 10px;
        }
        &_more{
            font-size: 10px;
        }
        &_bottom{
            margin-bottom: 1.5rem;
            &_category{
                font-size: 10px;
            }
            &_date{
                font-size: 10px;
            }
        }
       
    }
}

.right_side{
    width: 324px;
   &_price{
    font-size: 12px;
   }
   &_total_price{
    font-size: 12px;
   }
   &_center_img_item{
    width: 40px;
    height: 40px;
   }
   &_center_other{
    font-size: 12px;
   }
   &_center_btn{
    padding: 6px 12px;
    font-size: 14px;
   }

}
}
.page_bottom{
    &_top-side-title{
        font-size: 14px;
    }
    &_top-side-btn{
        padding: 6px 12px;
        font-size: 14px;
    }
    &_announce_item{
            &_img{
                width: 156px;
                height: 140px;
            }
            &_content{
                width: 156px;
                &_title{
                    font-size: 12px;
                }
                &_price{
                    font-size: 10px;
                }
                &_total_price{
                    font-size: 10px;
                }
            }
            
        
    }
}
}

//Announce responsive finish

//Home page desktop start


.hero{
    position: relative;
    &_img{
        width: 100%;
        height: 480px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_content{
        position: absolute;
        left: 30%;
        top: 120px;
        text-align: center;
        &_title{
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 4rem;
            color: white;
        }
        &_btn{
            padding: 12px 44px;
            border: none;
            border-radius: 0.5rem;
            background-color: #FA8F45;
            color: white;
            
        }
    }
}
.category{
    margin-top: 96px;
    margin-bottom: 96px;
    &_title{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.5rem
    }
    &_cards{
        @include d-flex(flex, space-between, center, wrap , row , _);
        &_item{
            width: 288px;
            position: relative;
            &_img{
                // background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
                width: 288px;
                height: 268px;
                border-radius: 0.5rem;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 0.5rem;
                    object-fit: cover;

                }
            }
            &_content{
                width: 100%;
           @include d-flex(flex, space-between, center, wrap , row , _);
           padding: 0 0.8rem;
              position: absolute;
              bottom: 16px;
              &_title{
                font-size: 1rem;
                color: white;
              }
              &_icon{
                color: white;
              }
            }
        }
    }
}

.volunteer{
    &_title{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.5rem
    }
    &_cards{
        @include d-flex(flex, space-between, center, wrap , row , 1.5rem);
        &_item{
            @include d-flex(flex, center, center, wrap , row , _);
            width: 392px;
            height: 428px;
            padding: 1.5rem 1rem;
            border: 1px solid #C2C6CE;
            border-radius: 0.5rem;
            &_img{
                width: 120px;
                height: 120px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &_content{
                width: 340px;
                text-align: center;
                &_title{
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin-bottom: 12px;
                    margin-top: 1.5rem;
                }
                &_descp{
                    font-size: 0.8rem;
                    font-weight: 300;
                }
            }
            &_final{
        @include d-flex(flex, center, center, wrap , column , _);
                width: 392px;
                height: 428px;
                padding: 1.5rem 52px;
                border: 1px solid #667085;
                border-radius: 0.5rem;
                &_content{
                    text-align: center;
                    &_title{
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                    &_descp{
                        font-size: 1.1rem;
                        font-weight: 400;
                        display: block;
                    }
                }
                &_btn{
                    margin-top: 60px;
                    padding: 12px 20px;
                    border: none;
                    border-radius: 0.5rem;
                    background-color: #C9EAEF;
                }
            }
        }
    }
}

