*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}


.faq{
    display: flex;
    flex-direction: column;
    padding: 14px;
    width: 400px;
    border: 1px solid black;
    border-radius: 4px;
&_item{
    // border: 1px solid red;
border-bottom: 1px solid black;
padding-top: 16px;
padding-bottom: 16px;

    &_icon{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-bottom: 14px;
        &_question{
            font-size: 18px;
            font-weight: 600;

        }
        &_item{
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }
    }
    &_answer{
        // border: 1px solid green;
        font-size: 16px;
        max-height:0px;
        overflow: hidden;
    }

}
}

.clicked .faq_item_answer{
max-height: 300px;
}

.clicked .faq_item_icon_item{
    transform: rotate(180deg);
}
.clicked .faq_item_icon{
    margin-bottom: 14px;
}