*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

.card{
    margin: 50px;
    padding: 20px;
    width: 240px;
    height: 310px;
    display: inline-block;
    text-align: center;
}

.card_head_top_icon{
    display: inline-block;
    font-size: 20px;
}

.card_head_top_info{
    font-weight: 300;
    margin: 8px 0;
    font-size: 12px;
}

.card_head_top_price{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card_list{
    margin: 6px;
    font-size: 8px;
    font-weight: 300;
}

.card_button{
    border-radius: 28px;
    border: none;
    padding: 8px 32px;
    color: white;
    margin-top: 20px;

}

.card_top{
    margin-bottom: 20px;
}


li{
    margin: 8px 0;
}

.card_shadow{
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.color_red{
    background-color: #ed3e77;
}
.color_green{
    background-color: #54bb89;
}
.color_blue{
    background-color: #5f77f7;
}
.icon_color_red{
    color: #ed3e77;
}
.icon_color_green{
    color: #54bb89;
}
.icon_color_blue{
    color: #5f77f7;
}