
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Outfit', sans-serif;
}


.form_inputs{
    border: 2px solid rgb(39, 20, 210);
    width: 400px;
    margin: 40px auto;
    /* padding: 16px; */
    border-radius: 4px;
}

h2{
    margin: 16px 24px;
}

.line{
    display: inline-block;
    width: 338px;
    border: 1px solid #D7DEDD;
}


.input_groups{
    border: 2px solid #D7DEDD;
    border-radius: 6px;
    padding: 12px 8px; 
    width: 320px;
    height: 20px;
}

.inputs{
    margin: 16px 24px;
}

.labels{
    display: inline-block;
    margin-bottom: 4px;
    font-size: 10px;
}

.input_field1{
    width: 40px;
    float: left;
    display: inline-block;
    margin-right: 4px;
    border: 2px solid #D7DEDD;
    border-radius: 6px;
    height: 20px;
    padding: 12px 8px;
}

.input_field2{
    width: 256px;
    border: 2px solid #D7DEDD;
    border-radius: 6px;
    height: 20px;
    padding: 12px 8px;
}

.dropdown{
    border: 2px solid #D7DEDD;
    border-radius: 6px;
    width: 340px;
    height: 48px;
    padding: 12px 8px;
}

.message{
    border: 2px solid #D7DEDD;
    border-radius: 6px;
    padding: 12px 8px;
}

.box{
   margin: 8px 2px 0px 24px; 
}

.check_text{
    display: inline-block;
    font-size: 12px;
    margin-bottom: 4px;
}

.submit{
    width: 340px;
    height: 40px;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
    background-color: #5732EE;
    cursor: pointer;
    border: none;
    margin: 24px;
}